.td_actions{
    display: flex;
    justify-content: center;
}

.red_bottom_border{
    border-bottom: 2px solid;
}

.textAreaInvoices{
    /*border-radius: 15px;*/
    border: 1px solid rgba(255, 0, 16, 0.3);
    padding-left: 15px;
    padding-right: 15px;

}
